<!-- firehose track 6, lesson 4 - file created 13 jul 17 for static page/task api -->

<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    
<!-- next 3 lines added 14 jul 17 for adding task form (lesson 14) -->
    <form id="new-form">
      <input type="text" class="new-todo" />
    </form>
    
  </header>

  <section class="main">
    
<!-- todo-list added 14 jul 17 for adding tasks to page (lesson 7) -->
    <ul class="todo-list">

    </ul>

  </section>
</section>

<!-- next many lines added/moved/modified/deleted 14 jul 17 for adding tasks to page/refactoring/form submission/refactoring (lessons 7, 13, 16, 18) -->
