<!-- firehose track 6, lesson 4 - file created 13 jul 17 for static page/task api -->

<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
  </header>

  <section class="main">

  </section>
</section>
