<!-- firehose track 6, lesson 4 - file created 13 jul 17 for static page/task api -->

<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    
<!-- next 3 lines added 14 jul 17 for adding task form (lesson 14) -->
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be done?" />   <!-- placeholder added 14 jul 17 for polishing design (lesson 19) -->
    </form>
    
  </header>

  <section class="main">
    
<!-- todo-list added 14 jul 17 for adding tasks to page (lesson 7) -->
    <ul class="todo-list">

    </ul>

  </section>
</section>

<!-- next 5 lines added 14 jul 17 for polishing design (lesson 19) -->
<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Vic Christensen", "https://github.com/elbereth007/et-c9-todo" %>
</section>

<!-- many javascript code lines added/moved/modified/deleted 14 jul 17 for adding tasks to page/refactoring/form submission/refactoring (lessons 7, 13, 16, 18) -->
